* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:rgb(46 176 134);
    --secondary-color: rgb(44 182 135 / 87%);
}

body{
    background-color: #f0f8f5;
   
}

nav {
    background-color:var(--primary-color);
    width: 100%;
    height: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;



    h1 {
        font-family: outfit;
        font-weight: 400;
        color: #ffffff;
        font-size: 2rem;
        position: relative;
        left: 8px;
    }

    h3 {
        color: #35332f;
        position: relative;
        top: 30px;
        right: 310px;
        font-size: 0.8rem;
        font-family: 'Outfit';;
    }

    ul {
        margin: 20px;


        li {
            list-style: none;
            display: inline;
            text-align: center;
            margin: 10px;

            a {
                text-decoration: none;
                color: #463d33;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 0.8rem;
                font-weight: 600;
                transition: color 0.4s ease-in-out;


                &:hover {
                    color: rgb(228 226 175);

                }
            }

        }
    }
}

.logo {
    margin-left: 73px;
    height: 122px;
}

.menu {

    width: 30px;
    visibility: hidden;
}



.header-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

i {
    font-size: 1.3rem;
    color: white;
}

.dropdown {
    position: absolute;
    background-color: #2eb086;
    right: 226px;
    top: 40px;
    width: 220px;
    height: 130px;
    line-height: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
    list-style: none;
    display: flex;
    flex-direction: column;
    transform: translateY(40px);

}

.main-title{
    text-align: center;
    color: var(--primary-color);
    font-family: 'Outfit';
    padding-top: 20px;
    
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41px;
    margin-top: 4px;

    img{
        width: 30%;
        margin-left: 30px;
        height: 351px;
    }

    p{
        width: 71%;
        line-height: 28px;
        font-family: Montserrat;
        margin-bottom: 20px;
        text-align: justify;
    }
}
.main-container{
    display: flex;
    justify-content: space-evenly;
    gap: 90px;
    align-items: end;
    flex-wrap: wrap;
    margin-top: -2px;
    
}

.cont1{
width: 50%;
height: 300px;
h1{
    margin-bottom: 38px;
    color: var(--primary-color);
    font-family: 'Atlassian Sans';
    font-size: 2rem;
}
p{
    width: 90%;
    font-weight: 400;
    line-height: 190%;
    font-family: montserrat;
    text-align: justify;
}

}

.cont2{
    img{
      width: 100%;
    }
}


.nav-list {
    li {
        &:hover {

            .dropdown {
                li {
                    &:hover {
                        background-color: #61d1ad;
                        margin: 2px;
                        padding: 14px 21px;
                        transition: all 0.3s ease-out;
                    }

                    a {
                        &:hover {
                            color: black;
                        }
                    }
                }

                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

@keyframes saliendo {
    from {
        transform: translateY(80px);
    }

    to {
        transform: translateY(0);
    }
}

.dropdown-somos {
    position: absolute;
    background-color: #2eb086;
    right: 92px;
    top: 40px;
    width: 220px;
    height: 160px;
    line-height: 17px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
    list-style: none;
    display: flex;
    flex-direction: column;
    transform: translateY(40px);


}


.nav-list {
    li {
        &:hover {

            .dropdown-somos {
                li {
                    &:hover {
                        background-color: #61d1ad;
                        margin: 2px;
                        padding: 14px 21px;
                        transition: all 0.3s ease-out;
                    }

                    a {
                        &:hover {
                            color: black;
                        }
                    }
                }

                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}
.main-texto{
    width: 64%;
    line-height: 28px;
    font-family: 'Atlassian Sans';
    margin-bottom: 20px;
    text-align: justify;

    h2{
        margin-bottom: 20px;
        font-size: 1.5rem;
        color: var(--primary-color);
    }
}
 .footer{
    background-color: var(--primary-color);
    width: 100%;
    height: 428px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
   
    p{
        color: white;
        font-weight: bold;
        font-size: 0.8rem;
        letter-spacing: 1px;
        font-family: 'Atlassian Sans';
    }

 }

 .footer-cols{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 20px;
    width: 94%;
 }
 .footer-nav-1,.footer-nav-2,.footer-nav-3{
    width: 100%;
    height: 200px;
    background-color: var(--secondary-color);
    h3{
        text-align: center;
        padding-top: 12px;
        color: white;
        font-size: 0.9rem;
        font-family: 'Outfit';
    }
   ul{
    font-weight: 300;
    text-align: center;
    margin-top: 7px;
    line-height: 190%;
    letter-spacing: 1px;
    
   }
    li{
        list-style: none;

    }

    a{
        text-decoration: none;
        color: #000;

    }
 }

 .footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;

    

    img{
        width: 78%;
        position: relative;
        top: 55px;
    }
 }

 .redes{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 115px;
    
   
    i{
        color: rgb(245, 241, 241);
        font-size: 2rem;
        margin: 48px;
    }

    li{
        list-style: none;
        display: inline-block;
    }
      }

 i{
    cursor: pointer;
 }

 .footer-contacto{
    display: flex;
    top: 64px;
        position: relative;
        left: 537px;

    li{
        display: block;
        list-style: none;
        line-height: 190%;
    }

   

    i{
        margin-right: 10px;
        color: #000;
        font-size: 1.5rem;
    }

    a{
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 2px;
    }
 }

 .footer-copy{
    position: relative;
    top: 88px;
 }

 .footer-social{
    position: relative;
 }

 .copy-img{
    width: 79px;
    height: 90px;
    position: relative;
    left: 181px;
    top: 19px;
 }
 .certificados-logo1{
    width: 3%;
    margin: 2px;
    object-fit: cover;
 }

 .certificados{
    width: 98%;
 }
.minsa{
    width: 76px;
    height: 76px;
}

footer{
    position: relative;
}
 
@media only screen and (max-width : 900px) {

    .certificados{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        right:0px;
        top: -67px;
        gap: 10px;
    }

    .certificados-logo1 {
        width: 9%;
        margin: 12px;
        object-fit: cover;
        border-radius: 50%;
    }

    .cont2{
        img {
            width: 66%;
            margin-left: 58px;
        }
    }

    .cont1{
        width: 100%;
        h1 {
            margin-bottom: 16px;
            color: #2eb086;
            font-family: 'Atlassian Sans';
            font-size: 1.8rem;
            text-align: center;
        }

        p{
            margin: 0 auto;
        }
    }

    .main-container {
        display: flex;
        justify-content: center;
        gap: 242px;
        align-items: anchor-center;
        flex-wrap: wrap;
        margin-top: -2px;
        background-color: #f0f8f5;
        flex-direction: column;
    }

    .nav-list {
        display: none;
        background-color: hsl(245deg 39.22% 93.09% / 59%);
        flex-direction: column;
        position: absolute;
        align-items: baseline;
        top: 50px;
        right: -20px;
        width: 100%;
        height: 200px;
        transition: all 0.3s ease;

    }
.main{
    flex-direction: column;
}
.redes{
    width: 100%;
    flex-direction: column;
}
.copy-img{
    width: 60px;
    height: 64px;
    position: relative;
    left: 119px;
    top: 12px;
}


.footer{
    height: 100%;
    p{
        font-size: 0.5rem;
    }
}

.footer-cols{
    
    gap: 5px;
    flex-direction:column;
}

    nav {
        height: 70px;
        justify-content: space-between;

        h1 {
            font-size: 1.3rem;
            left: 0px;
        }

        h3 {
            display: none;
        }
    }

    .logo {
        width: 70px;
        margin-left: 5px;
        height: 80px;
    }

    .menu {
        visibility: visible;
        margin-right: 20px;
    }

    .submenu {
        position: absolute;
        top: 69px;
        width: 100%;
        height: 204px;
        background-color: #d8dcdbd1;
    }

    .header-img {
        top: 54px;
        height: 200px;
    }

    .nav-menu-visible {
        display: flex;


    }



    i {
        font-size: 1rem;
        color: black;
    }

    .dropdown-somos {

        right: -19px;
        top: -20px;
        height: 198px;

    }

    .dropdown {

        right: -19px;
        top: -20px;
        width: 204px;
        height: 200px;
        line-height: 40px;
    }

    .main img{
        margin: 0px auto;
        width: 93%;
        height: 300px;
    }

    .main p{
        width: 88%;
        line-height: 28px;
        font-family: 'Montserrat';
        margin-left: 21px;
    }

    .main h1{
        margin-left: 19px;
        font-size: 1.5rem;
    }

    .main-texto{
        width:100%;
        h2{
            margin-bottom: -11px;
            margin-left: 4px;
            padding: 20px;
            font-size: 1.5rem;
    }
}

.footer-copy{
    top: 71px;
}

.redes{
    display: none;
}

}

@media (min-width: 1025px) and (max-width: 1450px) {
    .logo {
        margin-left: 2px;
        height: 122px;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
        margin-top: 4px;

        img {
            width: 30%;
            margin-left: -1px;
            height: 351px;
        }
    }

    nav{
        h3 {
            color: #463d33;
            position: relative;
            top: 30px;
            right: 289px;
            font-size: 0.9rem;
            font-family: 'Outfit';
        }

        ul {
            margin: -3px;
        }
      }
  }

  


  @media (min-width: 2500px) {
   nav{
    h3 {
        color: #463d33;
        position: relative;
        top: 30px;
        right: 794px;
        font-size: 0.9rem;
        font-family: 'Outfit';
    }

    h1 {
        font-family: outfit;
        font-weight: 400;
        color: #ffffff;
        font-size: 2rem;
        position: relative;
        left: -222px;
    }
     
     }

     .main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 137px;
        margin-top: 4px;
        margin-bottom: 20px;

        img {
            width: 39%;
            margin-left: 12px;
            height: 351px;
    }

    
    
  }
}