*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(255 255 255);
  --secondary-color: rgb(149 79 88);
  --tertiary-color: rgb(101, 82, 82);
  --cuaternary-color: rgb(134, 43, 54);
}

body {
  background-color: var(--primary-color);
  font-family: Montserrat;
}

.main-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;

  img {
    width: 100%;
    height: 497px;
    padding: 2em;
  }
}

.google {
  text-decoration: none;
  color: rgb(70 63 63);
  text-align: center;
  margin-left: 22%;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 10px 20px;
  background-color: #bffc23;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.location {
  width: 2%;
  position: relative;
  left: 21%;
  top: 10px;
}

.adress {
  padding: 0.8em;
  display: flex;
  justify-content: center;

  span {
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 78px;
    color: var(--primary-color);
  }
  p {
    font-weight: 400;
    font-size: 0.8rem;
    color: wheat;
  }
}

.hero {
  width: 100%;
  height: 277px;
  background-image: url(https://cdn.euroinnova.edu.es/img/subidasEditor/smiling-veterinarian-working-at-farm-rgn2teq-1620282011.webp);
  background-position-y: -208px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1px;
}

textarea.form-control {
  height: auto;
}
iframe[src*="google.com/maps"] {
  margin: 35px;
}

form {
  width: 38%;
  padding: 2em;
}
button {
  padding: 10px 57px;
  background: hsl(77deg 97.51% 56.28%);
  color: #534a4a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}
.form-control {
  border: none;
  margin-left: 0;
  background-color: #eaeef3;
  color: #fff;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.p-2 {
  font-family: montserrat;
}

.footer .copy-text {
  text-align: center;
  font-size: 0.6em;
  color: var(--secondary-color);
  margin-bottom: 5px;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.card {
  width: 300px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px hsla(0, 0%, 100%, 1);
  overflow: hidden;
  text-align: center;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s;

  &&:hover {
    transform: scale(1.1);
  }
}
.card-content {
  padding: 15px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: var(--tertiary-color);
}
.card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}
.card button {
  background: hsl(77deg 97.51% 56.28%);
  color: #332d2d;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  width: 56%;
}

.card button:hover {
  background: rgb(151 255 4 / 97%);
}
nav {
  background-color: var(--primary-color);
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(0 0 0 / 36%);
  transition: all 0.7s ease; /* Agrega una transición suave para que el cambio de color sea más agradable */

  h1 {
    font-weight: 400;
    color: var(--tertiary-color);
    font-size: 2rem;
    position: relative;
    left: 8px;
  }

  h3 {
    color: var(--tertiary-color);
    position: relative;
    top: 30px;
    right: 22.3%;
    font-size: 1rem;
    font-weight: 500;
  }

  ul {
    margin: 20px;

    li {
      list-style: none;
      display: inline;
      text-align: center;
      margin: 10px;

      a {
        text-decoration: none;
        color: #463d33;
        font-size: 0.8rem;
        font-weight: 600;
        transition: color 0.4s ease-in-out;

        &:hover {
          color: rgb(160, 145, 145);
        }

        &:active,
        &:focus {
          color: red;
        }
      }
    }
  }
}

.logo {
  margin-left: 18px;
  width: 83%;
  object-fit: cover;
}

.menu {
  width: 30px;
  visibility: hidden;
}

main {
  background-color: var(--cuaternary-color);
}

.header-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  margin-bottom: -5px;
}

i {
  font-size: 1.3rem;
  color: var(--cuaternary-color);
}

.dropdown {
  position: absolute;
  background-color: var(--tertiary-color);
  right: 226px;
  top: 50px;
  width: 220px;
  height: 130px;
  line-height: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
  list-style: none;
  display: flex;
  flex-direction: column;
  transform: translateY(40px);
}

.main-title {
  color: var(--cuaternary-color);
  padding-top: 20px;
  font-weight: 600;
  margin-bottom: 1px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 41px;
  padding: 0rem 2rem;
  background-color: var(--primary-color);
  img {
    width: 49%;
    margin-left: 0px;
    height: 351px;
  }

  p {
    width: 100%;
    line-height: 28px;
    margin-bottom: 20px;
    text-align: justify;
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    color: var(--tertiary-color);
  }
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  gap: 90px;
  align-items: end;
  margin-top: -4px;
  padding: 2rem;
}

.wave {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: -5px;
}

.productos {
  width: 33%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.liner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2rem;
}

.main-titulo {
  color: var(--primary-color);
  font-weight: 400;
  /* margin-bottom: 1rem; */
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}
.line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  div {
    width: 20%;
    height: 2px;
    background-color: var(--primary-color);
    margin: 10px;
  }
}
.cont1 {
  width: 50%;
  height: 300px;

  h1 {
    margin-bottom: 20px;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 400;
  }

  p {
    width: 90%;
    font-weight: 400;
    line-height: 170%;
    text-align: justify;
    font-size: clamp(0.8rem, 4vw, 1rem);
    color: var(--primary-color);
  }
}
.container-title-dos {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  bottom: 108px;
  left: 193px;
  width: 50%;
}
.cont2 {
  width: 50%;
  img {
    width: 64%;
  }
}

.nav-list {
  li {
    &:hover {
      .dropdown {
        li {
          &:hover {
            background-color: var(--primary-color);
            margin: 2px;
            padding: 14px 21px;
            transition: all 0.3s ease-out;
          }

          a {
            &:hover {
              color: black;
            }
          }
        }

        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@keyframes saliendo {
  from {
    transform: translateY(80px);
  }

  to {
    transform: translateY(0);
  }
}

.dropdown-somos {
  position: absolute;
  background-color: var(--tertiary-color);
  right: 92px;
  top: 50px;
  width: 220px;
  height: 160px;
  line-height: 17px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
  list-style: none;
  display: flex;
  flex-direction: column;
  transform: translateY(40px);
}

.nav-list {
  li {
    &:hover {
      .dropdown-somos {
        li {
          &:hover {
            background-color: var(--primary-color);
            margin: 2px;
            padding: 14px 21px;
            transition: all 0.3s ease-out;
          }

          a {
            &:hover {
              color: black;
            }
          }
        }

        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.main-texto {
  width: 64%;
  line-height: 28px;
  text-align: justify;

  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-weight: 300;
  }
}

.footer {
  background-color: var(--primary-color);
  width: 100%;
  height: 428px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  p {
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}

.main-empresa {
  max-width: 100%;
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 2rem;

  h3 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 0 30px 0;
  }

  p {
    line-height: 1.8;
    font-size: clamp(0.8rem, 4vw, 1rem);
  }
}
.btn-whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  color: #fff;
  position: fixed;
  right: 80px;
  bottom: 200px;
  line-height: 80px;
  text-align: left;
  z-index: 999;

  img {
    border-radius: 50px;
  }
}
.main-mision,
.main-vision,
.main-valores {
  width: 34%;
  height: 100%;
  padding: 3rem;
  color: #eee;
  border-right: 1px solid #ffffff75;
}

.main-mision {
  background-color: #03634d;
}

.main-vision {
  background-color: #792832;
}

.main-valores {
  background-color: #186b2a;
}

.footer-cols {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 20px;
  width: 78%;
}

.footer-nav-1,
.footer-nav-2,
.footer-nav-3 {
  width: 100%;
  height: 200px;

  h3 {
    text-align: center;
    padding-top: 12px;
    color: var(--cuaternary-color);
    font-size: 0.9rem;
  }

  ul {
    font-weight: 300;
    text-align: center;
    margin-top: 7px;
    line-height: 190%;
    letter-spacing: 1px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;

  img {
    width: 78%;
    position: relative;
    top: 55px;
  }
}

.m-l {
  margin-left: 25px;
  width: 33%;
  border: 3px solid #f4f4f4;
}

.redes {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  bottom: 140px;

  i {
    font-size: 2rem;
    margin: 48px;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
  }

  li {
    list-style: none;
    display: inline-block;
  }
}

i {
  cursor: pointer;
}

.footer-contacto {
  display: flex;
  top: 64px;
  position: relative;
  left: 537px;

  li {
    display: block;
    list-style: none;
    line-height: 190%;
  }

  i {
    margin-right: 10px;
    color: #000;
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.footer-copy {
  position: relative;
  top: 88px;
}

.footer-social {
  position: relative;
}

.copy-img {
  width: 32%;
  position: relative;
  left: 160px;
  top: 6px;
  object-fit: cover;
}

.certificados-logo1 {
  width: 3%;
  margin: 2px;
  object-fit: cover;
  padding-bottom: 17px;
}

.certificados {
  width: 98%;
}

.minsa {
  width: 76px;
  height: 76px;
}

footer {
  position: relative;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra para destacar la barra */
  .logo {
    width: 67%;
    transition: width 0.3s ease-in-out;
  }
}

.hidden-nav {
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.hero {
  h1 {
    color: #9d5050;
    font-weight: 400;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  padding: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: flex-start;

  i {
    color: rgb(238 238 238);
    padding-right: 1rem;
    -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 4px 4px 1px rgb(186 169 169);
  }
}

.link-dark {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.lh-1 {
  line-height: 1.5;
  color: var(--primary-color);
}

.main-cont-title {
  text-align: center;
  /* margin-right: 20%; */
  color: white;
  font-size: 1.9rem;
  margin-top: 2%;
  word-spacing: 2px;
}

.hero-title {
  color: wheat;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}

.container-title {
  width: 80%;
  padding: 2em;
  margin: 0 auto;
  color: var(--primary-color);
  line-height: 1.75;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
}

.line-img {
  width: 30%;
  margin-left: 2%;
  border: 3px solid #f4f4f4;
}

.container-img {
  display: flex;
  justify-content: flex-start;
  margin-left: 10.5%;
  flex-direction: row;
}

@media only screen and (max-width: 700px) {
  .certificados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0px;
    top: -67px;
    gap: 10px;
  }

  .m-l {
    margin-left: 0;
    width: 100%;
    padding: 2rem;
  }

  .container-title {
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    color: var(--primary-color);
    line-height: 1.75;
  }
  .container-title-dos {
    margin-bottom: 20px;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    bottom: -6px;
    left: 20px;
    width: 84%;
  }

  iframe[src*="google.com/maps"] {
    margin: 0px;
    width: 100%;
  }

  .location_iframe {
    width: 100%;
  }

  .liner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0.8rem;
    flex-direction: column;
  }
  .btn-whatsapp {
    right: 40px;
  }
  .container-img {
    margin-left: 0;
    flex-direction: column;
  }

  line {
    div {
      width: 15%;
      height: 2px;
      background-color: var(--primary-color);
      margin: 10px;
    }
  }

  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    div {
      width: 15%;
    }
  }

  .productos {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  form {
    width: 100%;
    padding: 1em;
  }
  .hero {
    background-position-y: 0px;
    h1 {
      color: #b84956;
      font-weight: 400;
      font-size: 1.5rem;
      margin-right: 89px;
    }
  }
  .location {
    width: 9%;
    position: relative;
    left: 46%;
    top: -10px;
  }

  .adress {
    flex-direction: column;

    span {
      margin-left: 0;
    }
  }

  .footer__social {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: flex-start;
  }
  .google {
    width: 91%;
    display: block;
    margin: 0 auto;
  }

  .main-cont-title {
    color: white;
    font-size: 1.5rem;
  }

  .hero-title {
    font-size: 1rem;
  }

  button {
    width: 100%;
  }

  .main-form {
    flex-direction: column;
    gap: 0rem;
  }

  .certificados-logo1 {
    width: 9%;
    margin: 12px;
    object-fit: cover;
    border-radius: 50%;
  }

  .fixed-nav {
    h1 {
      left: -11px;
    }
  }

  .main-empresa {
    max-width: 100%;
    height: 100%;
    background-color: #f0f8f5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex-direction: column;
    padding: 0rem;
  }

  .main-mision,
  .main-vision,
  .main-valores {
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: #eee;
  }

  .cont2 {
    img {
      width: 100%;
      margin-left: 5px;
      margin-bottom: 20px;
    }
  }
  .main-valores {
    height: 290px !important;
  }
  .cont1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
      margin-bottom: 16px;
      color: var(--primary-color);
      font-size: 1.6rem;
      text-align: center;
    }

    p {
      margin: 0 auto;
      line-height: 170%;
    }
  }

  .main-container {
    display: flex;
    justify-content: center;
    gap: 29px;
    align-items: anchor-center;
    flex-wrap: wrap;
    margin-top: -2px;
    flex-direction: column;
    padding: 0rem;
  }

  .nav-list {
    display: none;
    background-color: hsl(245deg 39.22% 93.09% / 59%);
    flex-direction: column;
    position: absolute;
    align-items: baseline;
    top: 50px;
    right: -20px;
    width: 100%;
    height: 200px;
    transition: all 0.3s ease;
  }

  .main {
    flex-direction: column;
    padding: 0rem;
    gap: 3px;
  }

  .redes {
    width: 100%;
    flex-direction: column;
  }

  .main-titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .copy-img {
    width: 75px;
    /* height: 64px; */
    /* position: relative; */
    left: 115px;
    /* top: 12px; */
  }

  .footer {
    height: 100%;

    p {
      font-size: 0.5rem;
    }
  }
  .line-img {
    width: 90%;
    margin: 0 auto;
  }
  .footer-cols {
    gap: 5px;
    flex-direction: column;
  }

  nav {
    height: 70px;
    justify-content: space-between;
    position: static;

    h1 {
      font-size: 1rem;
      left: 10px;
      width: 100%;
      font-weight: 500;
    }

    h3 {
      display: none;
    }
  }

  .logo {
    width: 108%;
    margin-left: 2px;
    height: 100%;
    object-fit: cover;
  }

  .menu {
    visibility: visible;
    margin-right: 20px;
  }

  .submenu {
    position: absolute;
    top: 69px;
    width: 100%;
    height: 204px;
    background-color: #d8dcdbd1;
  }

  .header-img {
    top: 54px;
    height: 200px;
    padding: 0rem;
    margin-top: 0;
  }

  .nav-menu-visible {
    display: flex;
  }

  i {
    font-size: 1rem;
    color: black;
  }

  .dropdown-somos {
    right: -19px;
    top: -20px;
    height: 198px;
  }

  .dropdown {
    right: -19px;
    top: -20px;
    width: 204px;
    height: 200px;
    line-height: 40px;
  }

  .main img {
    margin: 0px auto;
    width: 93%;
    height: 300px;
  }

  .main p {
    width: 100%;
    line-height: 170%;
    margin: 0 auto;
    padding: 20px;
    text-align: unset;
  }

  .main-title {
    font-size: 1em;
    text-align: center;
  }

  .main-texto {
    width: 100%;

    h2 {
      font-size: 1em;
      font-weight: 400;
      text-align: center;
      margin-bottom: 1px;
    }
  }

  .footer-copy {
    top: 71px;
  }

  .redes {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .logo {
    margin-left: 5px;
    width: 116%;
    height: auto;
  }

  .m-l {
    margin-left: 15px;
    height: 364px;
    width: 36%;
  }

  .fixed-nav {
    .logo {
      width: 118%;
      transition: width 0.3s ease-in-out;
    }
  }
  .hero {
    background-position-y: -185px;
  }

  .copy-img {
    margin-right: 87px;
  }

  .container-img {
    display: flex;
    justify-content: flex-start;
    margin-left: 11.5%;
    flex-direction: row;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 4px;

    p {
      width: 100%;
      line-height: 170%;
      margin-bottom: 20px;
      text-align: justify;
    }

    img {
      width: 36%;
      margin-left: 0px;
      height: 351px;
    }
  }

  .cont2 {
    img {
      width: 76%;
    }
  }

  .cont1 {
    margin-left: 35px;

    h1 {
      margin-top: 20px;
    }
  }

  nav {
    h3 {
      right: 21.9%;
    }

    ul {
      margin-left: -70px;
    }
    a {
      width: 12%;
    }

    h1 {
      left: 50px;
    }
  }
}

.wave {
  margin-bottom: -9px;
}

@media (min-width: 2500px) {
  nav {
    h3 {
      color: #463d33;
      position: relative;
      top: 30px;
      right: 816px;
      font-size: 0.9rem;
    }

    h1 {
      font-weight: 400;
      color: #ffffff;
      font-size: 2rem;
      position: relative;
      left: -222px;
    }
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
    margin-top: 4px;
    margin-bottom: 20px;

    img {
      width: 30%;
      height: 351px;
    }

    p {
      width: 100%;
    }
  }

  .main-container {
    display: flex;
    justify-content: flex-start;
    gap: 90px;
    align-items: end;
    flex-wrap: wrap;
    margin-top: -2px;
    padding: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    background-color: aquamarine;
  }
}
